<a href="https://colab.research.google.com/github/GARCIA-Amwell/58002_OP/blob/main/LOOPING_STATEMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loop control statements in Pythonare used to perform loopingoperations until the given conditionis True. Control comes out of theloop statements once conditionbecomes False

In [6]:
week = ["Sunday","Monday","Tuesday", "Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [18]:
#Break Statement

week = ["Sunday","Monday","Tuesday", "Wednesday","Thursday","Friday","Saturday"]
for x in week: 
  print(x)
if x=="Thursday":"break"

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [21]:
#the break statement

week = ["Sunday","Monday","Tuesday", "Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x =="Thursday":
    "break"
    print(x)

Thursday

In [33]:
#Looping through a string

for x in week:
  if x =="Thursday":
    print(x)
    "break"

Thursday

In [ ]:
#to display only Thursday
for x in week:

**The range() Function**• 
To loop through a set of code a specified number oftimes, we can use the range() function,• The range() function returns a sequence of numbers,starting from 0 by default, and increments by 1 (bydefault), and ends at a specified number.

In [27]:
#The range function
for x in range (6):
  print(x)
  
for x in range (2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

In [36]:
for x in range (2,6,2):
  print(x)

2
4

In [37]:
#Nested loop

adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [38]:
#Example 5

i = 1
while i < 6:
  print(i)
  i += 1 #i = i+1 Assignment operator

1
2
3
4
5

In [44]:
#While loop with break statement
i = 1
while i < 6:
  print (i)
  if i==3:
    break
  i +=1

1
2
3

In [61]:
#Activity 1 // nested loop

greeting = ["Hello"]
no = (0,1,2,3,4,5,6,7,8,9,10)

for x in greeting:
  for y in no:
    print (x,y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [66]:
#Let's try//while loop with break statement

i = 3
while i < 10:
  print (i)
  if i==10:
    break
  i +=1

3
4
5
6
7
8
9

In [69]:
for i in range(3, 10):
 print(i)

3
4
5
6
7
8
9