<a href="https://colab.research.google.com/github/GARCIA-Amwell/58002_OP/blob/main/OPERATIONS_%26_EXPRESSIONS_IN_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**BOOLEAN OPERATIONS**

represent one of two values: true or false
compares variables (can be two or more)
<,>,=.

bool function allows to evaluate and give you value in return: true or false

a built in function

1. comparison/relational
2.

In [3]:
print (10>9)
print (10==9)
print (10<9)

True
False
False

In [4]:
a = 10
b = 9
print (a>b)
print (a<b)
print (a==b)
print (b==b)

True
False
False
True

In [5]:
print (bool(1))
print (bool(0))
print (bool(None))

True
False
False

any number and any character or string except zero (0) = true
~empty/None = false

**FUNCTION CAN RETURN A BOOLEAN**

defmy Function()
return True

print(myFunction())

In [6]:
def myFunction():
 return True

print(myFunction())

True

**ALLIGNMENT/ SPACING**

In [7]:
def myFunction():
   return True
if myFunction():
     print("Yes!")
else:
     print("No!")

Yes!

In [8]:
print 
a=6
a=7
print (a==b)
print (a!=a)
print (b==a)

False
False
False

**PYTHON OPERATORS**

operators are used to perform on variables and values

% modulo division -- remainder (will not include the remainder)

// floor division  
** power ^(exponent)

In [9]:
print(10%5)
print(10//3)
print(10**2)

0
3
100

In [10]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10//5)
print(10%3)
print(10**2)

15
5
50
2.0
2
1
100

**PYTHON BITWISE OPERATORS**

works on bits and performs bits-by-bits operation. Assume if a=60; and b=13: now in binary format they will be as follows

<< = shifts to the right

(>>) = hindi nilalagay sa regis???

In [11]:
a=60
b=13

a<<1

120

In [12]:
a>>1

30

**PYTHON ASSINGMENT OPERATORS**

In [13]:
x=10
x += 3 # same as x = x + 3
print(x)

13

**LOGICAL OPERATORS**

In [15]:
print(x)

x = True
y = False

True

In [16]:
print (x and y)
print (x or y)
print(not(x or y ))

False
True
False

In [18]:
print (x is y)
print (x is not y)

False
True

**APPLICATION 1 CREATE AN ARITHMETIC CALCULATOR (MDAS)**

In [24]:
print("Input first number here: ")
print("Input second number here: ")

Input first number here:
Input second number here: